*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3FC1C9;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0 16px;
    background-color: #3fc1c9;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png"); 
}

header{
    background-color: #364F6B;
    color: aliceblue;
    margin: auto -16px;
    padding: 14px 28px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

/* .notes{
    background-color: #F5F5F5;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    width: 300px;
    padding: 30px;
    margin: 20px;
    float : left;
}

.notes h1{
    font-size: 1.1rem;
    color: black;
}

.notes p{
    font-size: 1.1rem;
    color: black;
} */
.notes {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.notes h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.notes p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.notes button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #364F6B;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

form.createOne{
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.createOne input,
  form.createOne textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.createOne button {
    position: absolute;
    right: 18px; 
    bottom: -18px;
    background: #364F6B;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }